include LICENSE
include AUTHORS.md
include CHANGELOG.md
include CONTRIBUTING.md
include pymars/tests/assets/*.cti
include pymars/tests/assets/*.txt
include pymars/tests/assets/*.dat
include pymars/tests/assets/*.inp
include pymars/tests/assets/*.yaml
