include LICENSE
include AUTHORS.md
include CHANGELOG.md
include CONTRIBUTING.md
include pymars/tests/*.cti
include pymars/tests/*.txt
include pymars/tests/*.dat
include pymars/tests/*.inp
include pymars/tests/inputfiles/*.yaml
